{% extends "data_analysis/base.html" %}
{% block title %}About me{% endblock %}
{% load static %}

{% block content %}
    <!--idにはaboutを設定 -->
    <section id="about">
        <!--コンテンツの中央揃え。上下方向にパディング（サイズ5）。下方向にマージン（サイズ5）。 -->
        <div class="container py-5 mb-5">
          <!-- rowクラス（行） -->
          <div class="row">
            <!-- 左側カラム（6/12分割） -->
            <div class="col-lg-6 text-left">
              <!-- 上下方向にパディング（サイズ5） -->
              <div class="py-5">
                <!-- 下方向にマージン（サイズ5） -->
                <h2 class="section_title about mb-5">
                  About me
                </h2>
                  <h5 class="resume mb-2">
                    ~プログラム言語・フレームワーク経験~
                  </h5>
                  <p class="mb-2">
                    Python, ABAP, Ruby, JavaScript, HTML, CSS, Django, Ruby on Rails, Flask, SAP保守運用(権限、MM)
                  <h5 class="resume mt-3 mb-2">
                    ~経   歴~
                  </h5>
                  <p class="mb-2">
                    国立大学院中退後、国際協力系コンサルタント会社に就職し退社後<br>
                    知財事務所にて弁理士を目指し勉強中、自身の事務を簡略化できないかとVBAでプログラミングする。<br>
                    プログラムに楽しさと将来性を感じ、また勉強と仕事で忙しい中、フリーランスという働き方に魅力を感じる。
                    プログラミングスクールのフリーランスコースを受講、3ケ月Ruby&nbsp;on &nbsp;rails受講、
                    ERPシステム会社に転職、コロナ化ということもあって、自由な働き方を実施することができ、満足する。<br>
                    コロナが明け、リモートが出社の方針に変わった為、フルリモートで働けるERPエンジニア会社に
                    転職を試みるが、リモートの競争率は非常に高いことまたリモートと表記しながら、面接の中、出社について言及してくる<br>
                    会社も多く、おとり広告のようなやり方に疑問を感じる。<br>
                    また、スキルが低いという評価もあったが、かなり学習していたし、実践という意味では大手Slerしか
                    実践での経験はできないと感じていた。<br>
                    スキルと問題解決能力を示すため、ポートフォリオを製作し、フリーランスやフルリモートの働き方を模索中<br>  
                  </p>
   
   
              </div>
            </div>
   
            <!-- 右側カラム（6/12分割） -->
            <div class="col-lg-6">
   
              <!-- 画像を配置 -->
              <img src="{% static 'images/img-about-me.jpg' %}" class="img-fluid display: flex; justify-content: center; align-items: center;" style="margin-top:200px;" alt="computer">
            </div>
          </div>
        </div> 
    </section>
{% endblock %}