{% extends "data_analysis/base.html" %}
{% block header %}スキル分析{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <p class="text-center mb-4">以下のボタンをクリックして下さい。<br>
        なお、サーバーに負担がかかりますので、１回限りとして頂きますと幸いです。</p>
        <div class="text-center mb-4">
            <button class="text-center btn btn-success mb-4" style="background-color:rgb(126, 236, 176);" id="start-analysis">分析を開始する</button>
        </div>
        <div id="analysis-result" class="">
            <h4 class="text-center mb-4">分析結果</h4>
            <p>分析が完了しました。以下の結果をご確認ください。</p>
            <h4 class="text-center mb-4">Pythonエンジニアになるためのスキル分析結果</h4>
            <h5>重複単語の統計情報</h5>
            <p>以下は、Python フルリモートの求人情報から抽出した重複単語とその出現回数です。</p>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        <th>単語</th>
                        <th>出現回数</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 動的にデータを埋め込む -->
                    <tr>
                        <td>python</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>aws</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>リモート</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>git</td>
                        <td>15</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>モデルの精度</h2>
        <p>以下は、Random ForestとGradient Boostingを使ったモデルの精度結果です。</p>
        <div class="accuracy-box">
            <p><strong>Random Forestモデルの精度:</strong> 0.85</p>
            <p><strong>Gradient Boostingモデル（Word2Vec使用）:</strong> 0.87</p>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}