{% extends "data_analysis/base.html" %}
{% block title %}My portfolio{% endblock %}

{% block content %}
<!-- カルーセル開始 -->
   <!-- カルーセル部分 -->
   <!-- idのmyCarouselはインジケーター部分のdata-bs-targetと紐付く必要がある。mb-5で下方向に余白追加。 -->
   <div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel">

    <!-- インジケーター部分 -->
    <ol class="carousel-indicators">
      <!-- この箇所と前述のidは紐付いている。data-bs-slide-toの番号がカルーセルの順番。 -->
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- carousel-inner：カルーセルのキャプションと背景画像の部分。現在は1枚目だけ表示。 -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% load static %}
        <img src="{% static 'images/slider-1.jpg' %}" alt="観葉植物">
        <div class="carousel-caption">
          <h1 class="my_carousel_caption">
            Welcome to<br>
            My portfolio
          </h1>
        </div>
      </div>

      <!-- カルーセル2枚目 -->
  <div class="carousel-item">
    <img src="{% static 'images/slider-2.jpg' %}" alt="旅">
    <div class="carousel-caption">
      <h1 class="my_carousel_caption">
        Life&nbsp;Work balance
      </h1>
    </div>
  </div>

  <!-- カルーセル３枚目 -->
  <div class="carousel-item">
    <img src="{% static 'images/slider-3.jpg' %}" alt="犬">
    <div class="carousel-caption">
      <h1 class="my_carousel_caption">Skill up<br>
        As freelance engineer
      </h1>
    </div>
  </div>

    <!-- コントロールボタン 左側 -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>

    <!-- コントロールボタン 右側 -->
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
 <!-- Topic News -->
 <section id="topic_news">
<ol class="list-group mb-5">
  <h2 class="mb-3 section_title topic_news text-center slide-in">Topic News</h2>
  <li class="list-group-item" style="border: none;">
    <span class="badge bg-dark" style="color: #ffffff !important;">SNS</span>
    <time datetime="2024-12-06 21:00:00 +0900">
      <span>2025.04.20</span>
    </time>
    <div>
      <a href="https://www.youtube.com/watch?v=L9R2ivKeZtI" class="text-decoration-none fw-bold" style="color: black;">
        4分でサクッと分かる日本マイクロソフト社長の英語力【ビジネス英語】
      </a>
    </div>
  </li>
  <li class="list-group-item" style="border: none;">
    <span class="badge bg-dark" style="color: #ffffff !important;">SNS</span>
    <time datetime="2024-11-22 21:00:00 +0900">
      <span>2024.11.22</span>
    </time>
    <div>
      <a href="https://www.youtube.com/watch?v=d6ihrHNNkkY" class="text-decoration-none fw-bold" style="color: black;">
        Introducing the Google News Initiative
      </a>
    </div>
  </li>
</ol>
</section>
<!-- ギャラリーセクション開始 -->
<section id="gallery">
  <div class="container mb-5">
    <h2 class="mb-3 section_title gallery text-center">GALLERY</h2>

    <div class="row">
      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-1.jpg' %}" alt="桜">
          <p class="text-center" style="margin-top: 250px;">この写真は公園で撮影された美しい桜です。</p>
        </div>
      </div>

      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-2.jpg' %}" alt="桜">
        </div>
      </div>

      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-3.jpg' %}" alt="桜">
        </div>
      </div>

      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-4.jpg' %}" alt="桜">
        </div>
      </div>

      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-5.jpg' %}" alt="桜">
        </div>
      </div>

      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-6.jpg' %}" alt="桜">
        </div>
      </div>

      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-7.jpg' %}" alt="桜">
        </div>
      </div>


      <div class="col-6 col-lg-3 mt-5 mb-4 d-flex justify-content-center">
        <div class="rounded-window">
          <img class="img-fluid-1" src="{% static 'images/gallery-8.jpg' %}" alt="桜">
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- アクセスセクション開始 -->
 <section id="access">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h2 class="section_title text-center access mb-5">ACCESS</h2>
        <p>JR山手線　渋谷駅より徒歩3分、店舗に隣接した駐車場があります。</p>
      </div>
    </div>
  </div>

  <div class="container mb-5 px-2">
    <!-- この部分にマップを配置 -->
    <iframe
     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.752712009576!2d139.70226209999998!3d35.6584638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b8427e1c0b1%3A0x78f6e23397061d6f!2z5riL6LC344K544Kv44Op44Oz44OW44Or44K544Kv44Ko44Ki!5e0!3m2!1sja!2sjp!4v1744978370054!5m2!1sja!2sjp"  class="w-100" style="height: 50vh;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </iframe>
  </div>
 </section>
 {% endblock %}

