{% extends "data_analysis/base.html" %}
{% block title %}トップ画面{% endblock %}

{% block content %}
<!-- カルーセル開始 -->
   <!-- カルーセル部分 -->
   <!-- idのmyCarouselはインジケーター部分のdata-bs-targetと紐付く必要がある。mb-5で下方向に余白追加。 -->
   <div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel">

    <!-- インジケーター部分 -->
    <ol class="carousel-indicators">
      <!-- この箇所と前述のidは紐付いている。data-bs-slide-toの番号がカルーセルの順番。 -->
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- carousel-inner：カルーセルのキャプションと背景画像の部分。現在は1枚目だけ表示。 -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% load static %}
        <img src="{% static 'images/slider-1.jpg' %}" alt="ﾊﾟｿｺﾝ">
        <div class="carousel-caption">
          <h1 class="my_carousel_caption">
            Welcome to<br>
            My portfolio
          </h1>
        </div>
      </div>

      <!-- カルーセル2枚目 -->
  <div class="carousel-item">
    <img src="{% static 'images/slider-2.jpg' %}" alt="観葉植物">
    <div class="carousel-caption">
      <h1 class="my_carousel_caption">
        The balance of &nbsp;life&nbsp;and&nbsp;Job
      </h1>
    </div>
  </div>

  <!-- カルーセル３枚目 -->
  <div class="carousel-item">
    <img src="{% static 'images/slider-3.jpg' %}" alt="犬">
    <div class="carousel-caption">
      <h1 class="my_carousel_caption">Skill up<br>
        As freelance engineer
      </h1>
    </div>
  </div>

    <!-- コントロールボタン 左側 -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>

    <!-- コントロールボタン 右側 -->
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
 {% endblock %}

