<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>PORTFOLIO</title>
        <link rel="stylesheet" href="/Users/yu-mi/projects/portfolio/app/assets/stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" >
    </head>
    
    <body>
        <!-- 🍔 -->
        <input id="menu" type="checkbox" />
        <label for="menu" class="open">🍔</label>
        <label for="menu" class="back"></label>
        <!-- 🍔 -->

        <aside>
            <!-- 🍔 -->
            <label for="menu" class="close">×</label>
            <!-- 🍔 -->

            <nav>
                <ul>
                    <div class="logo" >
                        <a href="https://twitter.com"><i class="fab fa-twitter-square fa-2x twi-icon"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x ins-icon"></i></a>
                        <a href="https://line.me"><i class="fab fa-line fa-2x line-icon"></i></a>
                    </div>
                    <li>自己紹介</li>
                    <li><a href="nazo.html">鬼滅謎かけ</a></li>
                    <li><a href="iken.html">ご意見</a></li>
                </ul>
            </nav>
            <div class="side footer">
                Copyright © yumimo All rights reserved.
            </div>
        </aside>

        <main>
            <header>PORTFOLIO</header>
            <img src="/Users/yu-mi/projects/portfolio/app/assets/images/material/bolivia.jpg" alt="ウユニ塩湖">
            <div>
                <h3>技術紹介</h3>
                <ol>
                    <li>Ruby</li>
                    <li>JavaScript</li>
                    <li>Ruby on rails</li>
                </ol>
            </div>
        </main>
    </body>
</html>
